.drop-filter.drop-filter--list
	.custom-drop
		.custom-drop__val.form-item
			input(type="text" value="Сортировать по" readonly)
			//====icon chevron =====
			.custom-drop__icon
		
		.custom-drop__list
			ul
				li.custom-drop__item 
					p Сортировать по
				li.custom-drop__item 
					p Сначала новые
				li.custom-drop__item 
					p Дедлайн: ближе
				li.custom-drop__item 
					p Дедлайн: дальше	