//-миксин меню описан в папке миксины 
+header-menu([
	{name: 'Мониторинг', active: true},
	{name: 'Задачи'},
	{name: 'Платежи'},
	{name: 'Аналитика'},
	{name: 'Чат'},
	{name: 'Испо+header-menuлнители'}
])