//========= pagination ================
.pagination
	.pagination__text Показано #[span 15 ] из #[span  120]

	.pagination__list
		button.pag-btn.pag-prev
		button.pag-btn.pag-current 1
		button.pag-btn 2
		button.pag-btn 3
		button.pag-btn ...
		button.pag-btn 15
		button.pag-btn.pag-next