//========= pagination ================
.pagination
	.pagination__text Показано #[span 15 ] из #[span  120]

	.pagination__list
		a(href="#!").pag-btn.pag-prev
		a(href="#!").pag-btn.pag-current 1
		a(href="#!").pag-btn 2
		a(href="#!").pag-btn 3
		a(href="#!").pag-btn ...
		a(href="#!").pag-btn 15
		a(href="#!").pag-btn.pag-next