.tabs-body__options
	//========= switch ========
	.switch-btn.js-group
		button.switch-btn__item.active.js-group-item(data-role="full") Подробный
		button.switch-btn__item.js-group-item(data-role="short") Краткий
	
	//========= custom drop select ========
	+custom-drop('Сортировать по', ['Сортировать по', 'Сначала новые', 'Дедлайн: ближе', 'Дедлайн: дальше'])(class="bg-white")
