header.header
	.container
		.header__content
			a(href="#!").logo
				img(src="./img/logo.svg", alt="logo")
				span Lorem Ipsum
		
			
			//========== NAVIGATION =====
			include ../blocks/_header-menu
			
			//========== HEADER ICONS =====
			.header__buttons
				button.menu-toggle
					span