//===== Отправка уведомл Этап 1 ========
.notification-step-one.active
	.title Этап 1: выберите кому отправить уведомления
	
	//======строка с фильтрами ===============
	.filters-group
		//========поиск =======
		+search-block('', '','','', 'Поиск...')
		
		//======== сортировка =======
		+custom-drop('Сортировать', ['Сортировать', 'от А-Я', 'от Я-А','по увеличению %','по уменьшению %' ])(class="drop-filter--sort")
		
		.filters-group__res Выбрано #[span 6 ]

		button.link#check-all Выбрать всех
		
		//======== кнопка =======
		button.btn.btn-slim(data-next) Далее

	//================ блок с исполнителями ====
	.contractors
		.column-four
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input
			+progress-card-input

//===== Отправка уведомл Этап 2 ========
.notification-step-two
	.title Этап 2: настройте уведомление и отправьте его
	button.back-link(data-prev) Назад
	
	.notification-form-group
		+custom-drop('Выберете тип уведомления', ['Тип 1', 'Тип 2', 'Тип 3', 'Тип 4', 'Тип 5', 'Тип 6', 'Тип 7'])(class="bg-white")
		
		.form-item.form-item--white
			input(type="text" placeholder="Напишите заголовок уведомления" name="subject")
		.form-item.form-item--white
			textarea(type="text" placeholder="Напишите текст уведомления" name="message")
		.form-btn
			button(type="submit").btn Отправить