//- ===== colors ======
$text: rgb(51, 51, 51);
$txtGrey: rgba(51, 51, 51, 0.40);
$white: white;
$bgColor: white;
$boxSh: rgba(117, 117, 117, 0.10);
$borderColor: #f3f3f3;
$bgGrey:#F9F9F9;
$red: #FF2E00;
$accent:#007AFF;
$inputBg: #f3f3f3;
$scrolBarBg: #D2D2D2;
$lightBorder: #ECECEC;
$font:'Gilroy';
// $bm: 'BMCD';