@import "../base/var.scss";
.admins{
	.id-card{
		max-width: remy(305);
		@media(max-width:remy(1364)){max-width: remy(370);}
		@media(max-width:remy(374)) {max-width: remy(290);}

	}
	
	
				
				
			
	
	@media (max-width: remy(767)) {
	.admins-btn, .drop-filter--sort{width: 100%;}
	.admins-btn .btn{width: 100%;}
	}
}