@import "../base/var.scss";

.analytic{
	@media (max-width:remy(1199)) {
		flex-grow:0;
	}
	.container{
		@media(max-width: remy(574)){
			padding: 0;
		}
	}
}
 
.analytic-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:remy(24);
	@media (max-width: remy(1199)) {
	grid-template-columns: 1fr;
	}
}

.analytic-reports{
	display: flex;
	flex-direction: column;
	row-gap:remy(12);
	&>*{width: 100%;}
	border-radius: remy(20);
	background: #FFF;
	box-shadow: 0px 0px 8px 4px rgba(151, 151, 151, 0.10);
}
.analytic-reports .scroll-left{
	margin:0;
	padding: remy(8);
	flex-grow: 1;
	height: calc(100vh - 13.5rem);
	@media (max-width: remy(1199)) {
		height: remy(500);
	}
	@media (max-width: remy(1023)) {
		scrollbar-width: none;
		&::-webkit-scrollbar{display: none;}
	}
}
.analytic-reports__body{
	padding: 0 remy(8) remy(20);
	@media(max-width:remy(574)){
		padding-left: 0;
		padding-right: 0;
	}
}
.analytic-reports__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: remy(20);
	padding-bottom: 0;
	.title{
		margin-bottom: 0;
		margin-right: remy(12);
		
	}
	.btn {margin-left:remy(12);}
	.drop-filter{
		margin-left: auto;
		@media(max-width:remy(424)){
			width: 100%;
		}
		
	}
			
		
	@media(max-width: remy(767)){
		flex-wrap: wrap;
		row-gap:remy(12);
		.btn{width: 100%; }
	}
}

.analytic-reports__group{
	.btn{padding-left: 1rem; padding-right: 1rem;}
}
.button-settings{
	width: remy(37);
	height: remy(37);
	border-radius: remy(8);
	background: #FFF;
	box-shadow: 0px 0px 8px 4px rgba(151, 151, 151, 0.10);
	display: flex;
	justify-content: center;
	align-items: center;
	svg{color: $accent;}
		
}

.list-marker{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.analytic-regions{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:remy(20);
	@media (max-width: remy(991)) {
		grid-template-columns: 1fr;
		gap:remy(10);
	}
}
.analytic-regions .dotter-li{
	position: relative;
	padding-left: remy(12);
	&+.dotter-li{margin-top: remy(8);}
}
.analytic-map-wrapper .title-small{margin-bottom: remy(24);}
.analytic-map-wrapper .analytic-map {
	height: remy(263);
	margin-bottom: remy(24);
}
.analityc-diagram-cards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:remy(20);
	margin-top: remy(20);
	@media (max-width: remy(991)) {
		grid-template-columns: 1fr
	}
}
.diagram-card__head{
	display: flex;
	justify-content: space-between;
	column-gap:1rem;
	align-items: center;
	margin-bottom: 1rem;
	.drop-filter{width: remy(80);}
}