@import "../base/var.scss";
/*========= PAGINATION ==========*/
.pagination{
	margin-top: remy(28);
}
.pagination__text{
	text-align: center;
	margin-bottom: 1rem;
}
.pagination__list {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	

	.pag-btn,
	.pag-prev,
	.pag-next {
		min-width: remy(24);
		height: remy(24);
		font-size: remy(20);
		color:$txtGrey;
		transition: .3s;
		text-align: center;
		line-height: remy(24);
	}
   .pag-btn + .pag-btn{margin-left: 0.5rem;}
   .pag-btn + .pag-next{margin-left: 1rem;}
   .pag-btn:hover{color: $text!important;}
	.pag-next,.pag-prev {
		border-radius: 50%;
		background-color: $accent;
		
		&:hover{
			background-color: lighten($accent, 10%);
		}
		
	}

	
	.pag-btn.pag-current {
		color: $text!important;
	}

	.pag-prev,
	.pag-next {
		flex-shrink: 0;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.73332 0.599943C8.61064 0.59952 8.48909 0.623384 8.37568 0.670158C8.26227 0.716934 8.15923 0.785694 8.07252 0.872477L0.605854 8.33914C0.432124 8.5152 0.334717 8.7526 0.334717 8.99994C0.334717 9.24729 0.432124 9.48468 0.605854 9.66074L8.07252 17.1274C8.24778 17.3027 8.48547 17.4011 8.73332 17.4011C8.98117 17.4011 9.21887 17.3027 9.39412 17.1274C9.56938 16.9522 9.66783 16.7145 9.66783 16.4666C9.66783 16.2188 9.56938 15.9811 9.39412 15.8058L2.57332 8.99994L9.39412 2.19408C9.56785 2.01802 9.66526 1.78062 9.66526 1.53328C9.66526 1.28593 9.56785 1.04854 9.39412 0.872477C9.30741 0.785694 9.20438 0.716934 9.09096 0.670158C8.97755 0.623384 8.856 0.59952 8.73332 0.599943Z' fill='%23ffffff'/%3e%3c/svg%3e");
		background-size: remy(6);
		
	}

	.pag-next {
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.26679 17.4001C1.14411 17.4005 1.02256 17.3766 0.909146 17.3298C0.795733 17.2831 0.6927 17.2143 0.605988 17.1275C0.432257 16.9515 0.33485 16.7141 0.33485 16.4667C0.33485 16.2194 0.432257 15.982 0.605988 15.8059L7.42679 9.00006L0.605988 2.19419C0.430733 2.01893 0.332275 1.78124 0.332275 1.53339C0.332275 1.28554 0.430733 1.04784 0.605988 0.872589C0.781243 0.697334 1.01894 0.598877 1.26679 0.598877C1.51464 0.598877 1.75233 0.697334 1.92759 0.872589L9.39425 8.33926C9.56799 8.51532 9.66539 8.75271 9.66539 9.00006C9.66539 9.2474 9.56799 9.4848 9.39425 9.66086L1.92759 17.1275C1.84088 17.2143 1.73784 17.2831 1.62443 17.3298C1.51102 17.3766 1.38947 17.4005 1.26679 17.4001Z' fill='%23ffffff'/%3e%3c/svg%3e");
	}

}
.pagination--small .pagination__list{
	.pag-btn,
	.pag-prev,
	.pag-next {
		
		min-width: remy(8);
		height: auto;
		font-size: remy(14);
		color: $txtGrey;
		transition: .3s;
	}

	.pag-btn+.pag-btn {
		margin-left: 0.5rem;
	}

	.pag-btn+.pag-next {
		margin-left: 1rem;
	}
	.pag-prev, .pag-next{
		min-width:remy(18);
		height: remy(18);
		background-size:remy(6) remy(10);
	}
	
}