@import "../base/var.scss";
.persone-finance__total{
	.analytic-item p{
		font-size: remy(28);
		letter-spacing: 0.02em;
	}
}
.persone-finance__block{
	justify-content: space-between;
	@media (max-width: remy(767)) {
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		row-gap: remy(12);
		.analytic-item p {font-size: remy(20);}
				
	}
}
