mixin person-card
	.person-card
		//====фото + имя ======
		.person-card-preview.border-shadow
			.person-card__photo
				img(src="./img/person.webp", width="148" height="148" alt="img")
			.person-card__title
				.title Иванов Иван Иванович #[span.person-card__time 12 мин.]
				.title-small Заказчик
		
		//======= подробная инфа =====
		.person-card-more.border-shadow
			.title Подробная информация:
			ul.dotter-list
				+dotter-li('telegram_chat_id', '433134')
				+dotter-li('Тип доступа:', 'Тип 1')
				+dotter-li('Номер телефона:', '+7 (999) 999-99-99')
				+dotter-li('Статус:', 'Статус 1')
				+dotter-li('Email:', 'example@mail.ru')
				+dotter-li('Дата присоединения:', '08.08.23')

mixin id-card(state, date, place)
	.id-card
		.id-card__state
			if state != ''
				span  #{state}
			else
				span.online-state
		
		.title-small Иванов Иван Иванович
		.id-card__role Менеджер
		.id-card__ID ID: #[span  433134]
		if date
			.id-card__date Присоединился #[span 28.08.23]
		if place
			.id-card__place #{place}