mixin custom-drop(inputVal, items)
	.drop-filter&attributes(attributes)
		.custom-drop
			.custom-drop__val
				input(type="text" value=""+ inputVal readonly)
				//====icon chevron =====
				.custom-drop__icon
			
			if 	items !==''
				.custom-drop__list
					ul
						each item of items
							li.custom-drop__item
								p #{item}