extends ../layouts/layout.pug

block content
	+header([
		{name: 'Приборная панель', link: 'dashboard.html'},
		{name: 'Администраторы', link: 'admins.html', active:'true'},
		{name: 'Заказы',link: 'orders.html'},
		{name: 'Аналитика',link: 'analytics.html'},
		{name: 'Связь', link: 'connection.html'},
		{name: 'Техподдержка', link:'support.html'}
	])

	main.admins
		.container
			//====панель с фильтрами ========
			.filters-group.filters-group--admins
				+search-block('', '','','', 'Поиск...')
				+custom-drop('Сортировать', ['Сортировать', 'от А-Я', 'от Я-А'])(class="drop-filter--sort")
				
				.admins-btn
					button.btn(frame-btn="add-admin") Добавить Администратора
			//====контент с карточками ========
			
			.persone-block.column-four
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('44 мин','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('12 мин','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('44 мин','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('12 мин','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')
				a(href="#!")
					+id-card('','','Самарская обл., Московская обл., Ленинградская обл.')

			+pagination

	//================= PopUp ADD ADMIN ==================
	.modal-frame-wrapper.add-admin(frame-modal="add-admin")
		.modal-frame.modal-frame--small
			.modal-header__flex
				.head Добавить администратора
				.icon-close(frame-close)
			
			.modal-frame__body
				form.add-admin-form(action="")
					.form-item
						label.label ФИО
						input(type="text" placeholder="Иванов Иван Иванович" name="name" autocomplete="off")
					
					.form-item
						label.label Email*
						input(type="email" placeholder="example@mail.ru" name="email")
					
					.form-item
						label.label Номер телефона
						input(type="email" placeholder="+7 (999) 999 99 99" name="phone")
					
					.form-item.person-role
						label.label Статус
						+custom-drop('Администратор', ['Администратор', 'Читатель','Редактор'], 'search-btn')
					
					.form-item.person-region
						label.label Регион
						//=========SEARCH REGION ===========
						.drop-filter.search-block
							.custom-drop
								.custom-drop__val
									input(type="text" name="")
									
									button.search-btn
									
									//====icon chevron =====
									span.custom-drop__icon
							
								//=====drop list =======
								.custom-drop__list
									ul
										li.custom-drop__item
											p Саратовская область
										li.custom-drop__item
											p Самарская область
					
					.form-item.person-pass
						label.label Пароль
						.form-item__row
							.form-item
								input(type="text")
								span.eye-icon
							button.btn(type="button") Сгенерировать
					
					.form-footer
						p * Необязательные поля
						button.btn(type="submit") Добавить
						.txt-grey ID присваивается автоматически

block variables
	-var title = "Администраторы";