extends ../layouts/layout.pug

block content
	.start-page
		h1 Web App
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT PAGE
			
			a(href="dashboard.html")
				span Приборная панель
			
			a(href="admins.html")
				span Администраторы
			
			a(href="orders.html")
				span Заказы
			a(href="connection.html")
				span Связь			
block variables
	-var title = "WebApps_2";
