extends ../layouts/layout.pug

block content
	+header([
		{name: 'Приборная панель', link: 'dashboard.html',},
		{name: 'Администраторы', link: 'admins.html'},
		{name: 'Заказы',link: 'orders.html', active:'true'},
		{name: 'Аналитика',link: 'analytics.html'},
		{name: 'Связь', link: 'connection.html'},
		{name: 'Техподдержка', link:'support.html'}
	])

	main.orders
		.container
			
			.aside-grid
				//=====левая колонка ====
				.aside-grid__sidebar.border-shadow
					.filters-group
						+search-block('', '','','', 'Название задачи')
		
						+custom-drop('Сортировать', ['Сортировать', 'Текущие', 'Просроченные','Отложенные'])(class="drop-filter--sort")
					
					.orders-aside
						.orders-list.scroll-left
							//======= задача текущая ==========
							.order-card
								.title-small Название задачи, которе может переноситья на следующую строку, а потом и на ещё 1
								.order-card__date
									p Дата начало: #[span 08.10.23] в #[span 09:00]
									p Дата окончания: #[span 18.10.23] в #[span 19:00]
							
							//======= задача текущая ==========
							.order-card
								.title-small Название задачи, которе может переноситья на следующую строку, а потом и на ещё 1
								.order-card__date
									p Дата начало: #[span 08.10.23] в #[span 09:00]
									p Дата окончания: #[span 18.10.23] в #[span 19:00]
					
							//======= задача текущая ==========
							.order-card
								.title-small Название задачи, которе может переноситья на следующую строку, а потом и на ещё 1
								.order-card__date
									p Дата начало: #[span 08.10.23] в #[span 09:00]
									p Дата окончания: #[span 18.10.23] в #[span 19:00]
							
							//======= задача текущая ==========
							.order-card
								.title-small Название задачи, которе может переноситья на следующую строку, а потом и на ещё 1
								.order-card__date
									p Дата начало: #[span 08.10.23] в #[span 09:00]
									p Дата окончания: #[span 18.10.23] в #[span 19:00]

						//========== ЛЕГЕНДА =============
						.orders-legend
							.accordion.border-shadow
								label.accordion-item(for="legend")
									.accordion-btn
										.title-medium Легенда
									input.accordion-input(type="checkbox" checked  id="legend" name="accordion-item")
									span.accordion-icon
									
									//====== accordion-body ======
									.accordion-body
										.legend-form
											label.legend-form-item
												input(type="checkbox" name="ordersCurrent")
												span Текущие
											label.legend-form-item
												input(type="checkbox" name="ordersPending")
												span Ожидающие
											label.legend-form-item
												input(type="checkbox" name="ordersCompleted")
												span Выполненные
				//====основной контент ======
				.aside-grid__content
					.map.border-shadow
						.map
							script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A13e02d731c04b56220a2a064d1fa54db38ac5402f907fd4bdf75e632a107fa8e&width=100%&height=100%&lang=ru_RU&scroll=true')
							
block variables
	-var title = "Страница Заказчика";