extends ../layouts/layout.pug
mixin tpl-card
	//====== карточка шаблона ======
	.tpl-card
		.tpl-card__header
			.title-small Шаблон 1
			.txt-grey Тип 1

		.tpl-card__meta
			span.notify-icon
			.txt-grey Стандартное уведомление
			p.next-link  Разослать
		.tpl-card__body
			.title-small Lorem ipsum dolor sit amet consectetur.
			p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis .
block content
	+header([
		{name: 'Приборная панель', link: 'dashboard.html'},
		{name: 'Администраторы', link: 'admins.html'},
		{name: 'Заказы',link: 'orders.html'},
		{name: 'Аналитика',link: 'analytics.html'},
		{name: 'Связь', link: 'connection.html'},
		{name: 'Техподдержка', link:'support.html'}
	], 'active')

	main.settings.d-flex
		.container.px-0
			.tabs
				.tabs-menu.tabs-menu--mobile
					nav
						button.tabs-menu__item.active.tabs-btn(tab-btn="1") Уведомления
						button.tabs-menu__item.tabs-btn(tab-btn="2") Системные настройки
						button.tabs-menu__item.tabs-btn(tab-btn="3") Рабочие процесы
							
				.settings-content.grid
					//======= Рейтинг==========
					.settings-column.grid__column.active.tabs-body(tab-body="1")
						
						//========== Доступно обновление ==========
						.update-notify.border-shadow
							.title Доступно обновление (21.11.23)
							.update-notify__btns
								button.btn.btn--grey Позже
								button.btn Обновить

						//==========Уведомления ==========
						.notify-tpl.border-shadow
							.notify-tpl__header
								.title Уведомления
								a(href="#!").flex-link.add-template #[span +]Добавить шаблон
							
							//====== скролл-блок с карточками
							.scroll-left
								.notify-tpl__list
									
									//====== block Свои шаблоны ======
									.notify-tpl__type
										.title-small Свои шаблоны
										
										//====== карточка шаблона ======
										.tpl-card
											.tpl-card__header
												.title-small Свой шаблон
												.txt-grey Уведомление о доступном заказе
									
											.tpl-card__meta
												span.reload-icon
												p.txt-grey Цикличное уведомление, раз в день в 12:56
											.tpl-card__body
												.title-small Lorem ipsum dolor sit amet consectetur.

												p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis .
									
									//====== block Свои шаблоны ======
									.notify-tpl__type
										.title-small Стандартные шаблоны
										
										//====== карточка шаблона ======
										+tpl-card
										+tpl-card
										+tpl-card
										+tpl-card
										+tpl-card
										+tpl-card
											
					
					//======= Системные настройки  ==========
					.system-settings.grid__column.tabs-body(tab-body="2")
						.title Системные настройки
						.system-settings__list
							
							//===== настройка с переключателем ========
							.system-settings-item
								p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices 
								
								.system-settings__group
									label.switch-item.switch-toggle
										input(type="checkbox" checked)
										.switch-item__toggle
											span
											span
										span.state-on Вкл
										span.state-off Выкл
							
							//===== настройка с переключателем ========
							.system-settings-item
								p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices 
								
								.system-settings__group
									label.switch-item.switch-toggle
										input(type="checkbox")
										.switch-item__toggle
											span
											span
										span.state-on Вкл
										span.state-off Выкл
							
							//===== настройка с переключателем ========
							.system-settings-item
								p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices 
								
								.system-settings__group
									label.switch-item.switch-toggle
										input(type="checkbox")
										.switch-item__toggle
											span
											span
										span.state-on Вкл
										span.state-off Выкл
							
							//===== настройка с радиобаттонами ========
							.system-settings-item
								.title-small Lorem ipsum dolor sit amet consectetur adip
								p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices 
								
								.system-settings__group
									label.form-radio
										input(type="radio" name="radio_name")
										span Только важные
									
									label.form-radio
										input(type="radio" name="radio_name")
										span Все
									
									label.form-radio
										input(type="radio" name="radio_name")
										span Никакие
							
							//===== настройка с чекбоксами ========
							.system-settings-item
								.title-small Lorem ipsum dolor sit amet consectetur adip
								p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices 
								
								.system-settings__group
									label.form-chbx
										input(type="checkbox" name="chbx_name1")
										span Только важные
									
									label.form-chbx
										input(type="checkbox" name="chbx_name2")
										span Все
									
									label.form-chbx
										input(type="checkbox" name="chbx_name3")
										span Никакие
							//===== настройка с чекбоксами ========
							.system-settings-item
								.title-small Lorem ipsum dolor sit amet consectetur adip
								p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices 
								
								.system-settings__group
									label.form-chbx
										input(type="checkbox" name="chbx_name1")
										span Только важные
									
									label.form-chbx
										input(type="checkbox" name="chbx_name2")
										span Все
									
									label.form-chbx
										input(type="checkbox" name="chbx_name3")
										span Никакие					
					
					//======= Рабочие процессы ==========
					.settings-column.grid__column.tabs-body(tab-body="3")
						//===== Рабочие процессы =======
						.work-process.border-shadow
							.title Рабочие процессы
							.work-process__form
								.form-item
									label.label Границы срока заказов
									.form-item__row
										input(type="text" placeholder="От: 1 дня" )
										input(type="text" placeholder="До: 60 дней" )
								.form-item
									label.label Минимальная сумма заказа
									input(type="text" placeholder="От: 1000₽" )
											
						//===== Черный список =======

						.black-list.tabs-inner.border-shadow
							.title Черный список
							.tabs-menu
								nav
									button.tabs-menu__item.active.tabs-inner-btn(tab-btn="contractors") Исполнители
									button.tabs-menu__item.tabs-inner-btn(tab-btn="admins") Администраторы
									
							
							.scroll-left
								//=========== Исполнители=================
								.black-list__block.active.tabs-inner-body(tab-body="contractors")
									//========= single card =========
									.id-card
										.title-small Иванов Иван Иванович
										.id-card__role Администратор
										.id-card__flex
											.id-card__ID ID: #[span  433134]
											a(href="#").flex-link
												span Разбанить
												span.check-icon
									//========= single card =========
									.id-card
										.title-small Иванов Иван Иванович
										.id-card__role Администратор
										.id-card__flex
											.id-card__ID ID: #[span  433134]
											a(href="#").flex-link
												span Разбанить
												span.check-icon
									//========= single card =========
									.id-card
										.title-small Иванов Иван Иванович
										.id-card__role Администратор
										.id-card__flex
											.id-card__ID ID: #[span  433134]
											a(href="#").flex-link
												span Разбанить
												span.check-icon
								
								//=========== Администраторы =================
								.black-list__block.tabs-inner-body(tab-body="admins")
									//========= single card =========
									.id-card
										.title-small Иванов Иван Иванович
										.id-card__role Администратор
										.id-card__flex
											.id-card__ID ID: #[span  433134]
											a(href="#").flex-link
												span Разбанить
												span.check-icon
							
									//========= single card =========
									.id-card
										.title-small Иванов Иван Иванович
										.id-card__role Администратор
										.id-card__flex
											.id-card__ID ID: #[span  433134]
											a(href="#").flex-link
												span Разбанить
												span.check-icon

									//========= single card =========
									.id-card
										.title-small Иванов Иван Иванович
										.id-card__role Администратор
										.id-card__flex
											.id-card__ID ID: #[span  433134]
											a(href="#").flex-link
												span Разбанить
												span.check-icon
							
									//========= single card =========
									.id-card
										.title-small Иванов Иван Иванович
										.id-card__role Администратор
										.id-card__flex
											.id-card__ID ID: #[span  433134]
											a(href="#").flex-link
												span Разбанить
												span.check-icon


block variables
	-var title = "Настройки";