extends ../layouts/layout.pug
mixin tpl-card
	//====== карточка шаблона ======
	.tpl-card
		.tpl-card__header
			.title-small Шаблон 1
			.txt-grey Тип 1

		.tpl-card__meta
			span.notify-icon
			.txt-grey Стандартное уведомление
			p.next-link  Разослать
		.tpl-card__body
			.title-small Lorem ipsum dolor sit amet consectetur.
			p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis .
block content
	+header([
		{name: 'Приборная панель', link: 'dashboard.html', active:'true'},
		{name: 'Администраторы', link: 'admins.html'},
		{name: 'Заказы',link: 'orders.html'},
		{name: 'Аналитика',link: 'analytics.html'},
		{name: 'Связь', link: 'connection.html'},
		{name: 'Техподдержка', link:'support.html'}
	])

	main.settings.d-flex
		.container.px-0
			
			.tabs
				.tabs-menu.tabs-menu--mobile
					nav
						button.tabs-menu__item.active.tabs-btn(tab-btn="1") Уведомления
						button.tabs-menu__item.tabs-btn(tab-btn="2") Ситемные настройки
						button.tabs-menu__item.tabs-btn(tab-btn="3") Рабочие процесы
							
				.settings-content.grid
					//======= Рейтинг==========
					.settings-column.grid__column.active.tabs-inner.tabs-body(tab-body="1")
						
						//========== Доступно обновление ==========
						.update-notify.border-shadow
							.title Доступно обновление (21.11.23)
							.update-notify__btns
								button.btn.btn--grey Позже
								button.btn Обновить

						//==========Уведомления ==========
						.notify-tpl.border-shadow
							.notify-tpl__header
								.title Уведомления
								a(href="#!").flex-link.add-template #[span +]Добавить шаблон
							
							//====== скролл-блок с карточками
							.scroll-left
								.notify-tpl__list
									
									//====== block Свои шаблоны ======
									.notify-tpl__type
										.title-small Свои шаблоны
										
										//====== карточка шаблона ======
										.tpl-card
											.tpl-card__header
												.title-small Свой шаблон
												.txt-grey Уведомление о доступном заказе
									
											.tpl-card__meta
												span.reload-icon
												p.txt-grey Цикличное уведомление, раз в день в 12:56
											.tpl-card__body
												.title-small Lorem ipsum dolor sit amet consectetur.

												p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis .
									
									//====== block Свои шаблоны ======
									.notify-tpl__type
										.title-small Стандартные шаблоны
										
										//====== карточка шаблона ======
										+tpl-card
										+tpl-card
										+tpl-card
										+tpl-card
										+tpl-card
										+tpl-card
											
					
					//======= КОЛОНКА ЗАКАЗЫ ==========
					.dashboard-productivity.grid__column.tabs-body(tab-body="2")
						.title Производительность
						
						.productivity-card
							+circle-progress-big(80)
							
							.dotter-list
								+dotter-li('Заказов опубликовано: ', '34')
								+dotter-li('Успешно выполнено:', '20')
								+dotter-li('В работе: ', '12')
								+dotter-li('Заказы без исполнителя: ', '2')
								+dotter-li('Фактическая прибыль: ', '1.200.600₽')
								+dotter-li('Заказы без исполнителя: ', '2')
								+dotter-li('Потенциальная прибыль:', '2.200.600₽')

						//====карточка с диаграммой =====
						.diagram-card.border-shadow
							.title-medium.change-item KPI: #[span.txt-accent 4,9 ] #[span.change-up +12%] 
							.filters-group
								+custom-drop('Неделя', ['Год', 'Месяц', 'Квартал'])(class="drop-filter--small")

							.diagram-card__chart
								.chart-label
									p 10034 заказов выполнено
									span 02 окт. - 2 ноя.

								img(src="./img/chart.webp", alt="alt")
			
					
					//======= Аналитика ==========
					.dashboard-analytic.grid__column.tabs-body(tab-body="3")
						.title Аналитика
						+custom-drop('Саратовская обл.', ['Саратовская обл.', 'Самарская обл.', 'Волгоградская обл.','Московская обл'])(class="drop-filter--small")
											
						//====карточка с диаграммой =====
						.diagram-card.border-shadow
							.title-small.change-item Количество заказов #[span.txt-accent 104] #[span.change-down -12%] 
							.filters-group
								+custom-drop('Неделя', ['Год', 'Месяц', 'Квартал'])(class="drop-filter--small")

							.diagram-card__chart
								.chart-label
									p 32 заказа
									span 04 ноя. - 5 ноя.

								img(src="./img/chart.webp", alt="alt")
						
						
						//====карточка с диаграммой =====
						.diagram-card.border-shadow
							.title-small.change-item Прибыль: #[span.txt-accent 1.500.200 ₽] #[span.change-up +12%]
							.filters-group
								+custom-drop('Неделя', ['Год', 'Месяц', 'Квартал'])(class="drop-filter--small")

							.diagram-card__chart
								.chart-label
									p 10034 заказов выполнено
									span 02 окт. - 2 ноя.

								img(src="./img/chart.webp", alt="alt")

block variables
	-var title = "Приборная панель";