extends ../layouts/layout.pug

block content
	+header([
		{name: 'Приборная панель', link: 'dashboard.html'},
		{name: 'Администраторы', link: 'admins.html'},
		{name: 'Заказы',link: 'orders.html'},
		{name: 'Аналитика',link: 'analytics.html'},
		{name: 'Связь', link: 'connection.html'},
		{name: 'Техподдержка', link:'support.html', active:'true'}
	])

	main.support
		.support-aside
			.vertmenu
				ul
					li
						p Журналы аудита
						input#1.subCat(type='checkbox' )
						label.chka(for='1')
						ul(style='display:none')
							li
								p Системные журналы
								input.subCat(type='checkbox' id='1.1')
								label.chka(for='1.1')
								ul(style='display:none')
									li
										p.line-left Безопасность
									li
										p.line-left Мандатная подсистема
									li
										p.line-left Система
							li
								p.line-left Пункт меню 1.2
							li
								p.line-left Пункт меню 1.3
					li
						p Прикладные журналы
						
					li
						p Сохранённые журналы
						
		.support-content
			.support-wrapper
				.support-table
					.support-table-row.support-table__header
						.cell-type  Тип события
						.cell-date Дата и время
						.cell-code Код события
						.cell-level Уровень важности
						.cell-text Текст события

					.support-table-row
						.cell-type
							p Сведение
						.cell-date
							p 20.05.23 в 23:20
						.cell-code
							p 0x400800001
						.cell-level
							p Нормальный
						.cell-text
							p Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.
				
				.support-log
			.support-info



block variables
	-var title = "Техподдержка";