include ../mixins/_header-menu.pug
include ../mixins/_header.pug
include ../mixins/_task-card.pug
include ../mixins/_custom-drop.pug
include ../mixins/_search-block.pug
include ../mixins/_payment-table-row.pug
include ../mixins/_chat-page-mixins.pug
include ../mixins/_circle-progress.pug
include ../mixins/_auto-setting-item.pug
include ../mixins/_pagination.pug
include ../mixins/_dotter-list-item.pug
include ../mixins/_cards.pug
include ../mixins/_person-list-item.pug


include ../mixins/_progress-card.pug